[submodule "external/countries"]
	path = external/countries
	url = https://github.com/mledoze/countries.git
[submodule "external/country-flags"]
	path = external/country-flags
	url = https://github.com/hampusborgos/country-flags.git
[submodule "external/iso-codes"]
	path = external/iso-codes
	url = https://salsa.debian.org/iso-codes-team/iso-codes.git
